<a href="https://colab.research.google.com/github/GiselaCS/Mujeres_Digitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduccion**
---
para manejar un codigo limpio en python:
podemos seguir las siguientes recomendaciones:
1.manejar siempre minuscula
2. se le puede añadir numeros
3.Aparecera errores si no esta la declaracion de la variable con el numero asignado, es decir, Ejemplo: ana1(Correcto), ana 1 (incorrecto- error) 

---
En python hay varios tipos de datos, Compuestos y estan disponibles por defecto en los interpretes.
1. numericos
2. secuencias 
3. mapeos
Conjuntos usados para agrupar otros valores.
**Diferencia enre constantes y variables**
En matematicas llamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo contabilidad : gastos fijos_Muebles de oficina.
Ejemplo 2: 6 
por otro lado el concepto de varible, la podemos definir como la cantidad que es susceptible a tomar distintos valores numericos.
**ejemplo**

In [2]:
x=5
print(x)

5

**Tipos de datos**

---
**Enteros**
-son los numeros que no tiene decimales
-pueden ser positivos y negativos

In [3]:
a = int(3)
print(a)

3

el comando int, es para hacer alucion a numeros enteros. 
a parte el comando float, permite comandos con decimales.

In [5]:
b=float(8.23)
print(b)

8.23

**Tipo Cadena**
---
las cadenas de texto encerrado entre (comillas simple o dobles) y se pueden conformar de diferenres caracteres(Numericos, Albeticos, Especiales #$%..)
tener en cuenta, las cadenas admiten operadores como la suma y la resta. (variable string)

In [6]:
val1 ="gisela"
print(val1)

gisela

In [9]:
n="Aprender"
z= "python"
nz=n+" "+z
print(nz)

Aprender python

**Tipo Booleano**
---
Este tipo de variables solo tendra un valor, Vedadero o falso (True or false)
**Nota**
son valores muy usados en condiciones y bucles.

In [10]:
lola=True
print("el valor es verdadero:", lola, type(lola))

el valor es verdadero: True <class 'bool'>

python cuenta con tipos de datos que admiten colecciones:
1. listas
2.Tuplas
3.Diccionarios 
**Tipo de conjuntos**
---
son una coleccion de datos sin elementos que repiten:
el conjunto se escribe entre parentesis ()

In [11]:
fru='pera', 'manzana', 'naranja'
print(fru)

('pera', 'manzana', 'naranja')

**Tipo listas**
---
son listas las almacenan vectores.
Ejemplo de listas en python:
las listas aparecen entre corchetes []
-las listas siempre empiezan a nombrarse desde el elemento cero, a partir de allí empieza el conteo.

In [13]:
ines=['5', 'uva', 'lila', 'perro']
fe=ines[0:2] #trae los elementos que se indican, del 0 hast antes del 2
print(fe)

['5', 'uva']

**Tipo Tuplas**
---
Es una lista que no se puede modificar despues de la creacion de esta:
Tuplas anidadas: Agrupacion(Tuplas)
ejemplo:

In [16]:
tupla=23,28, 'hello'
otra=tupla,(1,2,3,4)
print(otra)

((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionarios**
---
Define los datos uno a uno entre un campo (ID -identificador) y un valor
los diccionarios se manejan con corchetes {}

In [27]:
datos_b= {
    "nombres": "Diana", #primero palabras claves
    "apellidos":"perea",
    "cedula": "234567",
    "est_Civil":"Viuda",
    "lugar_nacimiento": "manizales",
    "fecha_nacimiento": "27/11/2000",
}
print("ID del diccionario", datos_b.keys()) #campos
print("ID del diccionario", datos_b.values()) #valores
print("ID del diccionario", datos_b.items()) #
print("cedula:",datos_b['cedula'] ) #traer un dato seleccionado

ID del diccionario dict_keys(['nombres', 'apellidos', 'cedula', 'est_Civil', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Diana', 'perea', '234567', 'Viuda', 'manizales', '27/11/2000'])
ID del diccionario dict_items([('nombres', 'Diana'), ('apellidos', 'perea'), ('cedula', '234567'), ('est_Civil', 'Viuda'), ('lugar_nacimiento', 'manizales'), ('fecha_nacimiento', '27/11/2000')])
cedula: 234567

**ejemplos practico (caracteisticas de carros)**

In [26]:
carros_0={} #se crea el espacio, luego los valores
carros_0['tam']='grande'
carros_0['color']='negro'
carros_0['marca']='renault'
carros_0['precio']=60
print(carros_0)
carros_1={} #se crea el espacio, luego los valores
carros_1['tam']='pequeño'
carros_1['color']='blanco'
carros_1['marca']='chevrolet'
carros_1['precio']=37
print(carros_1)

#comprar ambos carros
compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal= compra0+compra1
print("la compra total fue de:", compratotal)
print("la compra total fue de:" + str(compratotal)) #segunda forma de hacerlo

{'tam': 'grande', 'color': 'negro', 'marca': 'renault', 'precio': 60}
{'tam': 'pequeño', 'color': 'blanco', 'marca': 'chevrolet', 'precio': 37}
la compra total fue de: 97
la compra total fue de:97