<a href="https://colab.research.google.com/github/GiselaCS/Mujeres_Digitales/blob/main/clase9_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**
---
leer, manipular datos 
---
puede tener todos los tipos de datos.

**Series**
---
una sola lista de datos.
se usan para modelar estructuras 1D similar a las listas en python, aunque tienen mayor numeros de bits incluyendo indice, nombre. (Puede albergar strings, booleans).

---
**Data frame**
--- 
varias listas de datos

In [ ]:
#se importa libreria panda pd es el alias
import pandas as pd

In [5]:

#vamos a crear una serie con los siguientes datos
gise= pd.Series([145,142,38,13], name='counts')
print(type(gise))
gise

<class 'pandas.core.series.Series'>

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [6]:
print(gise.index)

RangeIndex(start=0, stop=4, step=1)

In [7]:
print(gise.values)

[145 142  38  13]

In [8]:
#el indice no necesariamente tiene que ser un numero
gigi = pd.Series([145, 38, 99], name='counts', \
                 index=['juan', 'pedro', 'sofia'])
print(gigi)
print('-----')
print(gigi.values)
print('----')

juan     145
pedro     38
sofia     99
Name: counts, dtype: int64
-----
[145  38  99]
----

In [ ]:
#tambien puede albergar diferentes objetos
class J:
  pass
pedro= pd.Series(['David', 'Fan', 13, ])

In [9]:
#y que hay de los nulos
nan_ser = pd.Series([12, None], index=['0', 'c'])
print(nan_ser)
'''
fijarse que aparece float y es porque en los NAN 
solo puede estar en ese tipo de datos'''
nan_ser.count()

0    12.0
c     NaN
dtype: float64

1

In [14]:
numeros= pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(numeros)
print(numeros.index)

a    1
b    2
c    3
d    4
e    5
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')