<a href="https://colab.research.google.com/github/GiselaCS/Mujeres_Digitales/blob/main/clase9_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**
---
leer, manipular datos 
---
puede tener todos los tipos de datos.

**Series**
---
una sola lista de datos.
se usan para modelar estructuras 1D similar a las listas en python, aunque tienen mayor numeros de bits incluyendo indice, nombre. (Puede albergar strings, booleans).

---
**Data frame**
--- 
varias listas de datos

In [ ]:
#se importa libreria panda pd es el alias
import pandas as pd

In [5]:

#vamos a crear una serie con los siguientes datos
gise= pd.Series([145,142,38,13], name='counts')
print(type(gise))
gise

<class 'pandas.core.series.Series'>

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [6]:
print(gise.index)

RangeIndex(start=0, stop=4, step=1)

In [7]:
print(gise.values)

[145 142  38  13]

In [8]:
#el indice no necesariamente tiene que ser un numero
gigi = pd.Series([145, 38, 99], name='counts', \
                 index=['juan', 'pedro', 'sofia'])
print(gigi)
print('-----')
print(gigi.values)
print('----')

juan     145
pedro     38
sofia     99
Name: counts, dtype: int64
-----
[145  38  99]
----

In [ ]:
#tambien puede albergar diferentes objetos
class J:
  pass
pedro= pd.Series(['David', 'Fan', 13, ])

In [9]:
#y que hay de los nulos
nan_ser = pd.Series([12, None], index=['0', 'c'])
print(nan_ser)
'''
fijarse que aparece float y es porque en los NAN 
solo puede estar en ese tipo de datos'''
nan_ser.count()

0    12.0
c     NaN
dtype: float64

1

In [14]:
numeros= pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(numeros)
print(numeros.index)

a    1
b    2
c    3
d    4
e    5
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
#traer los numeros hasta el 15 de 2 en 2 de manera impar 
pd.Series(range(1,16,2))

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

In [23]:
#1. creacion
cidys = pd.Series([10,7,1,22], \
                  index=['1985', '1990','1970','1989' ],\
                  name='per')
print(cidys)
print('----')
# que hay si necesito guardar multiples entradas en mi serie
g2= pd.Series({'1985':7, '1970':[1,22]}, index=['1985', '1970', '1970'])
print(g2)
# 2. lectura 
print(cidys['1985'])
#proceso iterativo
print('--------')
for i in cidys:
  print(i)

1985    10
1990     7
1970     1
1989    22
Name: per, dtype: int64
----
1985          7
1970    [1, 22]
1970    [1, 22]
dtype: object
10
--------
10
7
1
22

In [24]:
pd.Series(range(2,5))

0    2
1    3
2    4
dtype: int64

In [26]:
impares_dos=pd.Series(range(1,16,2))
print(impares_dos)
impares_dos[2:5]

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
dtype: int64

2    5
3    7
4    9
dtype: int64

In [32]:
#vemos quienes cumplen la condicion
impares_dos >10

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

In [29]:
#lo añadimos a una variable pata filtrar y saber quien cumple con la condicion. 
mask= impares_dos >10

In [31]:
#trae solo los que cumplen con la condicion
impares_dos[mask]

5    11
6    13
7    15
dtype: int64

In [33]:
#3 actualizacion
print(cidys)
cidys['1996'] =6
print(cidys['1996'])
#que pasa cuando intento actualizar el indice duplicado
cidys['1970']=2
print('------')
print(cidys)
cidys= pd.Series([10,7,1,22],\
                 index=['1985', '1969','1970', '1970' ], \
                 name='per')
#en esos casos lo mejor es hacer lo siguiente
cidys.iloc[3]=2
print(cidys)

1985    10
1990     7
1970     1
1989    22
Name: per, dtype: int64
6
------
1985    10
1990     7
1970     2
1989    22
1996     6
Name: per, dtype: int64
1985    10
1969     7
1970     1
1970     2
Name: per, dtype: int64

In [35]:
#se puede agregar valores a las series
cidys= cidys.append(pd.Series({'1974':9}))
print(cidys)

1985    10
1969     7
1970     1
1970     2
1974     9
dtype: int64

In [37]:
#borrar
del cidys['1985']
print(cidys)
#tambien se pueden hacer filtros
cidys[cidys<=2]

1969    7
1970    1
1970    2
1974    9
dtype: int64

1970    1
1970    2
dtype: int64

In [58]:
print(cidys)

[1969     True
1970    False
1970     True
1974     True
dtype: bool]

In [61]:
#fechas 
fechas =pd.to_datetime(pd.Series(['sep 7, 2021', \
                               '9/8/2001', '9-9-2021', '10th of september', \
                               'once de septiembre 2001']), errors='coerce')

In [62]:
fechas

0   2021-09-07
1   2001-09-08
2   2021-09-09
3          NaT
4          NaT
dtype: datetime64[ns]

In [63]:
fechas[fechas >= '2001-09-09']

0   2021-09-07
2   2021-09-09
dtype: datetime64[ns]

In [ ]:
cumple = pd.to_datatime(pd.Serie([]))

In [70]:
fechas_nac =pd.to_datetime(pd.Series(['02-26-1993', '01/05/1968','10/26/1970'],index=['yo','mamá','papá']))
fechas_nac

yo     1993-02-26
mamá   1968-01-05
papá   1970-10-26
dtype: datetime64[ns]