<a href="https://colab.research.google.com/github/GiselaCS/Mujeres_Digitales/blob/main/Random_Forest_(Ejemplo_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Carga de las librer√≠as
import urllib.request
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#Descargamos los datos desde internet!
file_name = 'dataR2.csv'

def download_file(file_name):
    print('Descargando el dataset')
    url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00451/dataR2.csv'
    urllib.request.urlretrieve(url, file_name)


download_file(file_name)

Descargando el dataset

In [ ]:
#Ahora si cargamos los datos en jupyter!
data = pd.read_csv(file_name)
data.head()

   Age        BMI  Glucose  ...  Resistin    MCP.1  Classification
0   48  23.500000       70  ...   7.99585  417.114               1
1   83  20.690495       92  ...   4.06405  468.786               1
2   82  23.124670       91  ...   9.27715  554.697               1
3   68  21.367521       77  ...  12.76600  928.220               1
4   86  21.111111       92  ...  10.57635  773.920               1

[5 rows x 10 columns]

In [ ]:
#Analicemos brevemente el dataset
data.shape

(116, 10)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             116 non-null    int64
 1   BMI             116 non-null    float64
 2   Glucose         116 non-null    int64
 3   Insulin         116 non-null    float64
 4   HOMA            116 non-null    float64
 5   Leptin          116 non-null    float64
 6   Adiponectin     116 non-null    float64
 7   Resistin        116 non-null    float64
 8   MCP.1           116 non-null    float64
 9   Classification  116 non-null    int64
dtypes: float64(7), int64(3)
memory usage: 9.2 KB

In [ ]:
data.isnull().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

**Insights**:

* El dataset se compone de 10 columnas de las cuales 9 corresponden a variables independientes, que usaremos para predecir el target. 

* Classification es la variable a predecir. Todas las variables son num√©ricas, ya sea enteras o reales y no tiene valores nulos.

In [ ]:
#Separamos en X e y
X = data.drop(["Classification"], axis=1)
y = data["Classification"]

In [ ]:
X

     Age        BMI  Glucose  Insulin  ...   Leptin  Adiponectin  Resistin    MCP.1
0     48  23.500000       70    2.707  ...   8.8071     9.702400   7.99585  417.114
1     83  20.690495       92    3.115  ...   8.8438     5.429285   4.06405  468.786
2     82  23.124670       91    4.498  ...  17.9393    22.432040   9.27715  554.697
3     68  21.367521       77    3.226  ...   9.8827     7.169560  12.76600  928.220
4     86  21.111111       92    3.549  ...   6.6994     4.819240  10.57635  773.920
..   ...        ...      ...      ...  ...      ...          ...       ...      ...
111   45  26.850000       92    3.330  ...  54.6800    12.100000  10.96000  268.230
112   62  26.840000      100    4.530  ...  12.4500    21.420000   7.32000  330.160
113   65  32.050000       97    5.730  ...  61.4800    22.540000  10.33000  314.050
114   72  25.590000       82    2.820  ...  24.9600    33.750000   3.27000  392.460
115   86  27.180000      138   19.910  ...  90.2800    14.110000   4.35000   90.090

[116 rows x 9 columns]

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
111    2
112    2
113    2
114    2
115    2
Name: Classification, Length: 116, dtype: int64

In [ ]:
y.unique()

array([1, 2])

In [ ]:
#Separamos en train y test!
(X_train, X_test,y_train, y_test) = train_test_split(X,y,stratify=y,test_size=0.30,random_state=42)

In [ ]:
#Creamos un arbol de decisi√≥n sencillo y lo fiteamos
tree = DecisionTreeClassifier(random_state=42)
tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=42, splitter='best')

In [ ]:
X_test

     Age        BMI  Glucose  Insulin  ...   Leptin  Adiponectin  Resistin     MCP.1
18    64  34.529723       95    4.427  ...  21.2117     5.462620   6.70188   252.449
71    44  24.740000      106   58.460  ...  18.1600    16.100000   5.31000   244.750
38    60  26.349292      103    5.138  ...  24.2998     2.194280  20.25350   378.996
57    68  21.082813      102    6.200  ...   9.6994     8.574655  13.74244   448.799
42    75  27.300000       85    5.197  ...  10.3900     9.000805   7.57670   335.393
87    85  27.688778      196   51.814  ...  70.8824     7.901685  55.21530  1078.359
28    35  35.250761       90    6.817  ...  50.6094     6.966895  22.03703   667.928
86    48  28.125000       90    2.540  ...  15.5325    10.222310  16.11032  1698.440
55    34  24.242424       92   21.699  ...  16.7353    21.823745  12.06534   481.949
22    29  32.270788       84    5.810  ...  45.6196     6.209635  24.60330   904.981
20    36  28.576676       86    4.345  ...  15.1248     8.600000   9.15390   534.224
14    38  23.340000       75    5.782  ...  15.2600    17.950000   9.35000   165.020
35    67  29.606767       79    5.819  ...  21.9033     2.194280   4.20750   585.307
10    34  21.470000       78    3.469  ...  14.5700    13.110000   6.92000   354.600
48    69  29.400000       89   10.704  ...  45.2720     8.286300   4.53000   215.769
51    77  25.900000       85    4.580  ...  13.7400     9.753260  11.77400   488.829
104   57  34.838148       95   12.548  ...  33.1612     2.364950   9.95420   655.834
95    49  29.777778       70    8.396  ...  51.3387    10.731740  20.76801   602.486
114   72  25.590000       82    2.820  ...  24.9600    33.750000   3.27000   392.460
91    82  31.217482      100   18.077  ...  31.6453     9.923650  19.94687   994.316
21    34  31.975015       87    4.530  ...  28.7502     7.642760   5.62592   572.783
98    71  27.915519      104   18.200  ...  53.4997     1.656020  49.24184   256.001
101   66  26.562500       89    6.524  ...  14.9084     8.429960  14.91922   269.487
65    45  23.140496      116    4.902  ...  17.9973     4.294705   5.26330   518.586
53    45  20.829995       74    4.560  ...   7.7529     8.237405  28.03230   382.955
59    62  22.656250       92    3.482  ...   9.8648    11.236235  10.69548   703.973
111   45  26.850000       92    3.330  ...  54.6800    12.100000  10.96000   268.230
58    51  19.132653       93    4.364  ...  11.0816     5.807620   5.57055    90.600
68    46  20.830000       88    3.420  ...  12.8700    18.550000  13.56000   301.210
79    41  26.672763       97   22.033  ...  44.7059    13.494865  27.83250   783.796
23    35  30.276817       84    4.376  ...  39.2134     9.048185  16.43706   733.797
93    49  32.461911      134   24.887  ...  42.3914    10.793940   5.76800   656.393
40    76  29.218408       83    5.376  ...  28.5620     7.369960   8.04375   698.789
2     82  23.124670       91    4.498  ...  17.9393    22.432040   9.27715   554.697
7     76  23.800000      118    6.470  ...   4.3110    13.251320   5.10420   280.694

[35 rows x 9 columns]

In [ ]:
y_test_pred = tree.predict(X_test) #Prediccion en Test
y_test_pred

array([1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1,
       2, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2])

In [ ]:
y_test

18     1
71     2
38     1
57     2
42     1
87     2
28     1
86     2
55     2
22     1
20     1
14     1
35     1
10     1
48     1
51     1
104    2
95     2
114    2
91     2
21     1
98     2
101    2
65     2
53     2
59     2
111    2
58     2
68     2
79     2
23     1
93     2
40     1
2      1
7      1
Name: Classification, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score

#Calculo el accuracy en Test
test_accuracy = accuracy_score(y_test, y_test_pred)

print('% de aciertos sobre el set de evaluaci√≥n:',test_accuracy)

% de aciertos sobre el set de evaluaci√≥n: 0.7714285714285715

In [ ]:
#Creamos un random forest!
model = RandomForestClassifier(random_state=42, n_estimators=100,
                               class_weight="balanced", max_features="log2")
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='log2',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
y_test_pred = model.predict(X_test) #Prediccion en Test
y_test_pred

array([1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2,
       2, 2, 2, 1, 2, 1, 2, 2, 1, 2, 1, 1, 2])

In [ ]:
#Calculo el accuracy en Test
test_accuracy = accuracy_score(y_test, y_test_pred)

print('% de aciertos sobre el set de evaluaci√≥n:',test_accuracy)

% de aciertos sobre el set de evaluaci√≥n: 0.8285714285714286

Conclusiones!

Simplemente utilizando el algoritmo de random forest, obtenemos un mejor accuracy que haciendo uso de un DecisionTreeClassifier üòâ