<a href="https://colab.research.google.com/github/GiselaCS/Mujeres_Digitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

Gisela criollo suarez

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [229]:
import pandas as pd

In [230]:
# Escriba su código aquí

import os
print(os.getcwd())

/content

In [231]:
#traemos el archivo que queremos leer
pk = pd.read_csv('pokemon_data.csv')

In [232]:
#creamos la nueva columna 
df = pd.DataFrame (pk)
df['Interes']=False
print(df)

       #                   Name   Type 1  ... Generation  Legendary  Interes
0      1              Bulbasaur    Grass  ...          1      False    False
1      2                Ivysaur    Grass  ...          1      False    False
2      3               Venusaur    Grass  ...          1      False    False
3      3  VenusaurMega Venusaur    Grass  ...          1      False    False
4      4             Charmander     Fire  ...          1      False    False
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True    False
796  719    DiancieMega Diancie     Rock  ...          6       True    False
797  720    HoopaHoopa Confined  Psychic  ...          6       True    False
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    False
799  721              Volcanion     Fire  ...          6       True    False

[800 rows x 13 columns]

In [233]:
#traer los pokemones de tipo fuego y legendarios
df.loc[(df['Type 1'] == 'Fire') & (df['Legendary']==True)] 
#aqui se ve que el interes es false

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Interes
158  146    Moltres   Fire  Flying  ...     90           1       True    False
263  244      Entei   Fire     NaN  ...    100           2       True    False
270  250      Ho-oh   Fire  Flying  ...     90           2       True    False
542  485    Heatran   Fire   Steel  ...     77           4       True    False
799  721  Volcanion   Fire   Water  ...     70           6       True    False

[5 rows x 13 columns]

In [234]:
#cambiar los valor del Interes de los pokemones type fire y legendarios.
df.loc[(df['Type 1'] == 'Fire') & (df['Legendary']==True), 'Interes'] =True

In [235]:
#traemos de nuevo los pokemones, esta vez se ve que Interes es True
df.loc[(df['Type 1'] == 'Fire') & (df['Legendary']==True)]

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Interes
158  146    Moltres   Fire  Flying  ...     90           1       True     True
263  244      Entei   Fire     NaN  ...    100           2       True     True
270  250      Ho-oh   Fire  Flying  ...     90           2       True     True
542  485    Heatran   Fire   Steel  ...     77           4       True     True
799  721  Volcanion   Fire   Water  ...     70           6       True     True

[5 rows x 13 columns]

In [236]:
df

       #                   Name   Type 1  ... Generation  Legendary  Interes
0      1              Bulbasaur    Grass  ...          1      False    False
1      2                Ivysaur    Grass  ...          1      False    False
2      3               Venusaur    Grass  ...          1      False    False
3      3  VenusaurMega Venusaur    Grass  ...          1      False    False
4      4             Charmander     Fire  ...          1      False    False
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True    False
796  719    DiancieMega Diancie     Rock  ...          6       True    False
797  720    HoopaHoopa Confined  Psychic  ...          6       True    False
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    False
799  721              Volcanion     Fire  ...          6       True     True

[800 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [237]:
# Escriba su código aquí
df_type= pk['Type 1'].unique()
df_type

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [159]:
#promedio de Attack Type Fire
prom=df.loc[df['Type 1'] == 'Grass','Attack'].mean()
prom

73.21428571428571

In [133]:
#promedio de Attack Type Fire
prom=df.loc[df['Type 1'] == 'Fire','Attack'].mean()
prom

84.76923076923077

In [132]:
#promedio de Attack Type Water
prom=df.loc[df['Type 1'] == 'Water','Attack'].mean()
prom

74.15178571428571

In [136]:
#promedio de Attack Type Bug
prom=df.loc[df['Type 1'] == 'Bug','Attack'].mean()
prom

70.97101449275362

In [137]:
#promedio de Attack Type Normal
prom=df.loc[df['Type 1'] == 'Normal','Attack'].mean()
prom

73.46938775510205

In [138]:
#promedio de Attack Type Poison
prom=df.loc[df['Type 1'] == 'Poison','Attack'].mean()
prom

74.67857142857143

In [139]:
#promedio de Attack Type Electric
prom=df.loc[df['Type 1'] == 'Electric','Attack'].mean()
prom

69.0909090909091

In [140]:
#promedio de Attack Type Ground
prom=df.loc[df['Type 1'] == 'Ground','Attack'].mean()
prom

95.75

In [142]:
#promedio de Attack Type Fairy
prom=df.loc[df['Type 1'] == 'Fairy','Attack'].mean()
prom

61.529411764705884

In [143]:
#promedio de Attack Type Fighting
prom=df.loc[df['Type 1'] == 'Fighting','Attack'].mean()
prom

96.77777777777777

In [144]:
#promedio de Attack Type Psychic
prom=df.loc[df['Type 1'] == 'Psychic','Attack'].mean()
prom

71.45614035087719

In [145]:
#promedio de Attack Type Rock
prom=df.loc[df['Type 1'] == 'Rock','Attack'].mean()
prom

92.86363636363636

In [146]:
#promedio de Attack Type Ghost
prom=df.loc[df['Type 1'] == 'Ghost','Attack'].mean()
prom

73.78125

In [147]:
#promedio de Attack Type Ice
prom=df.loc[df['Type 1'] == 'Ice','Attack'].mean()
prom

72.75

In [148]:
#promedio de Attack Type Dragon
prom=df.loc[df['Type 1'] == 'Dragon','Attack'].mean()
prom

112.125

In [149]:
#promedio de Attack Type Dark
prom=df.loc[df['Type 1'] == 'Dark','Attack'].mean()
prom

88.38709677419355

In [150]:
#promedio de Attack Type Steel
prom=df.loc[df['Type 1'] == 'Steel','Attack'].mean()
prom

92.70370370370371

In [151]:
#promedio de Attack Type Flying
prom=df.loc[df['Type 1'] == 'Flying','Attack'].mean()
prom

78.75

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [238]:
# Escriba su código aquí
#traemos el archivo que queremos leer
duk = pd.read_csv('DUK.csv')

In [239]:
duk

            Date       Open       High  ...      Close  Adj Close   Volume
0     2014-07-28  73.309998  74.480003  ...  74.389999  59.266285  3281100
1     2014-07-29  74.400002  74.480003  ...  73.980003  58.939648  2236300
2     2014-07-30  74.029999  74.199997  ...  73.050003  58.198696  2782200
3     2014-07-31  72.610001  73.099998  ...  72.129997  57.465740  3249000
4     2014-08-01  72.239998  73.370003  ...  72.940002  58.111061  3960200
...          ...        ...        ...  ...        ...        ...      ...
1254  2019-07-22  88.599998  88.690002  ...  88.150002  88.150002  2160300
1255  2019-07-23  88.180000  88.239998  ...  87.680000  87.680000  3141800
1256  2019-07-24  87.949997  87.980003  ...  87.180000  87.180000  2386500
1257  2019-07-25  86.900002  87.389999  ...  86.489998  86.489998  2680300
1258  2019-07-26  86.500000  87.080002  ...  86.910004  86.910004  2425200

[1259 rows x 7 columns]

In [240]:
#filtrar fechas
duk.loc[(duk['Date']>= '2015-01-01') &(duk['Date'] <= '2015-12-31')]

           Date       Open       High        Low      Close  Adj Close   Volume
110  2015-01-02  83.540001  84.230003  83.089996  84.050003  68.374176  2266200
111  2015-01-05  83.599998  83.910004  82.610001  82.839996  67.389832  3780400
112  2015-01-06  82.919998  84.790001  82.919998  84.199997  68.496178  5290900
113  2015-01-07  84.260002  84.889999  83.720001  84.470001  68.715836  2583500
114  2015-01-08  84.919998  85.279999  84.570000  84.809998  68.992432  2165100
..          ...        ...        ...        ...        ...        ...      ...
357  2015-12-24  72.000000  72.389999  71.900002  72.040001  61.949467  1018200
358  2015-12-28  71.750000  72.260002  71.599998  71.919998  61.846283  2351800
359  2015-12-29  72.279999  72.750000  72.169998  72.370003  62.233242  1943600
360  2015-12-30  72.370003  72.599998  72.120003  72.190002  62.078468  2062000
361  2015-12-31  72.139999  72.220001  70.739998  71.389999  61.390526  2999500

[252 rows x 7 columns]

In [241]:
#para traer el promedio entre las fechas solicitadas del Open, lo agregamos al final y ponemos el .mean()
duk.loc[(duk['Date']>= '2015-01-01') &(duk['Date'] <= '2015-12-31'), 'Open'].mean()

74.8137697698413