<a href="https://colab.research.google.com/github/GiselaCS/Mujeres_Digitales/blob/main/Tarea_clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tipo de dato int**
--

In [2]:
#ejemplo 1
num1=int(10) 
num2=int(15)
resul= num1+num2
print("el resultado de la suma es:", resul)

el resultado de la suma es: 25

In [3]:
#ejemplo 2
num1=int(50)
num2=int(25)
resul=num1*num2
print("el resultado es:", resul)

el resultado es: 1250

**Tipo de dato Float**
---

In [4]:
#ejemplo 1
num1=float(10)
num2=float(3)
result= num1/num2
print("el resultado es:", result)

el resultado es: 3.3333333333333335

In [12]:
#ejemplo 2
num1=float(15.9)
num2=float(12.1)
resulta=num1-num2
print("el resultado es:", resulta)

el resultado es: 3.8000000000000007

**Tipo de dato Cadena**
---

In [13]:
#ejemplo 1
a="gisela"
print(a)

gisela

In [15]:
#ejemplo 2
a1="gisela"
a2="criollo"
print(a1+" "+a2)

gisela criollo

**Tipo de dato booleano**
---

In [17]:
#ejemplo 1
gisela_criollo=True
print("el valor es verdadero:", gisela_criollo, type(gisela_criollo))

el valor es verdadero: True <class 'bool'>

In [18]:
#ejemplo 2
gisela_maria=False
print("el valor el falso:", gisela_maria)

el valor el falso: False

**tipo de conjuntos**
---

In [19]:
#ejemplo1
c1='rojo', 'amarillo','azul','verde', 'morado'
print(c1)

('rojo', 'amarillo', 'azul', 'verde', 'morado')

In [20]:
#ejemplo 2
c2= 'jazmin', 'rosa', 'petunia', 'tulipan', 'orquidea'
print(c2)

('jazmin', 'rosa', 'petunia', 'tulipan', 'orquidea')

**Tipo de Listas**
---

In [21]:
#ejemplo 1:
lista1=['azucar', 'harina', 'levadura', 'sal']

print(lista1)

['azucar', 'harina', 'levadura', 'sal']

In [22]:
#ejemplo 2
lista2=['mermelada', 'salsa', 'miel', 'crema de mani']
fe=lista2[0:2] #trae los elementos que se indican
print(fe)

['mermelada', 'salsa']

**Tipo Tuplas**
---

In [24]:
#ejemplo 1
tupla1=27,11,2000, 'nacimiento'
print(tupla1)

(27, 11, 2000, 'nacimiento')

In [25]:
#ejemplo 2
tupla1=27,11,2000, 'nacimiento'
otra=tupla1,('sevilla', 'valle')
print(otra)

((27, 11, 2000, 'nacimiento'), ('sevilla', 'valle'))

**Tipo diccionarios**
---

In [27]:
#ejemplo 1
datos_ani= {
    "tipo":"perro",
    "nombre": "canela",
    "Genero": "Femenino",
    "edad":"1 año",
    "lugar_nacimiento": "sevilla valle",
    "fecha_nacimiento": "30/07/2020",
}
print("ID del diccionario", datos_ani.keys()) #campos
print("ID del diccionario", datos_ani.values()) #valores
print("ID del diccionario", datos_ani.items()) #ambos
print("tipo:",datos_ani['tipo'] ) #traer un dato seleccionado

ID del diccionario dict_keys(['tipo', 'nombre', 'Genero', 'edad', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['perro', 'canela', 'Femenino', '1 año', 'sevilla valle', '30/07/2020'])
ID del diccionario dict_items([('tipo', 'perro'), ('nombre', 'canela'), ('Genero', 'Femenino'), ('edad', '1 año'), ('lugar_nacimiento', 'sevilla valle'), ('fecha_nacimiento', '30/07/2020')])
tipo: perro

In [29]:
#ejemplo 2
dic1={} 
dic1['tipo']="caja"
dic1['tam']='grande'
dic1['color']='negro'
dic1['precio']=5000

dic2={} 
dic2['tipo']="caja"
dic2['tam']='grande'
dic2['color']='marron'
dic2['precio']=2500
#comprar ambas cajas
compratotal= dic1['precio']+dic2['precio']
print("la compra total fue de:", compratotal)

la compra total fue de: 7500